.button-panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spacing);
  row-gap: 0.75rem;
  column-gap: 0.75rem;
}

.simple-mode .advanced {
  display: none;
}

.logo {
  max-width: 100%;
  height: 100px;
}
