html {
  font-size: 87.5%;
  font-weight: bold;
}

.button-panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spacing);
  row-gap: 0.75rem;
  column-gap: 0.75rem;
}

.simple-mode .advanced {
  display: none;
}

.logo {
  max-width: 100%;
  height: 50px;
}

.terminal-container {
  width: auto;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  .terminal {
    padding: 5px;
    height: calc(100% - 10px);
  }
}
